*{
  font-family: 'Comfortaa', cursive;
}
body{
  min-height:100vh;
}
.mobile-wrapper{
  max-width:420px;
  margin: 0 auto;
}
/* The CSS selectors for the home page. */
.home-page{
  overflow-x: hidden;
  max-width:420px;
  margin: 0 auto;
}
header{
  margin-top:10px;
  margin-bottom:40px;
}
navbar{
  width:90%;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.menu-bars, .plus, #clear-btn, #close-btn, #cancel-btn{
  cursor: pointer;
}
#city{
  font-size: 1.10em;
  font-weight: bold;
  letter-spacing: 2px;
  padding-top:10px;
  margin-top:10px;
  text-align: center;
  text-transform: uppercase;
}
.date{
  text-align:center;
  font-size:0.95em;
  font-weight: bold;
  letter-spacing: 2px;
}
.weather{
  font-size: 1.10em;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom:-70px;
  text-align: center;
  text-transform: uppercase;
}
figure{
  display: flex;
  justify-content: center;
  margin-bottom:-20px;
  margin-top:-10px;
  padding-bottom:15px;
}
figure > img {
  width:425px;
}
section{
  display: flex;
  justify-content: center;
}
.main-forecast{
  padding-top:25px;
  margin-top:-145px;
  display:flex;
  align-items: center;
  padding-bottom:20px;
}
.temperature-display{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  padding:30px;
  padding-top:50px;
  margin-bottom:-50px;
}
#temperature{
  margin-top:5px;
  font-size:4em;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom:-15px;
}
.arrow{
  color:rgb(56, 56, 56);
}
.secondary-temperature{
  display:flex;
}
.secondary-temperature > p{
  margin-left:5px;
}
.information-display{
  width:40%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom:-30px;
  margin-left:-4px;
}
.detail{
  border-bottom:1px solid rgb(160, 159, 159);
  width:75%;
  margin-bottom:-1px;
  padding-bottom:5px;
  font-size: 0.90em;
}
.row{
  display:flex;
  margin-bottom:-20px;
}
.row > p{
  font-size: 0.85em;
}
.feels-like{
  margin-left:7px;
}
.humidity{
  margin-left:14px;
}
.pressure{
  margin-left:13px;
}
.wind{
  margin-left: 48px;
}
.day-display, .time-display{
  font-size: 1.15em;
  font-weight: bold;
  letter-spacing: 3px;
  border-top:1px solid rgb(160, 159, 159);
  width:60%;
  padding:12px;
  margin: 0 auto;
  margin-top:15px;
  text-transform:uppercase ;
}
.time-display{
  margin-top:-5px;
}

/* The CSS selectors for the search bar and the autocomplete function.*/
.search-page{
  max-width:400px;
  position:absolute;
  height:0;
  width:100%;
  bottom:0;
  background-color: white; 
  transition: 0.3s; 
  overflow-x: hidden;
}
.search-box{
  position: relative;
  display: inline-block;
}
.search-box input[type=text]{
  font-family: 'Comfortaa', cursive;
  background: transparent;
  width:290px;
  margin: 0;
  padding: 7px 8px;
  border:none;
  padding-right: 24px;
  box-sizing: border-box;
  font-size:1.15em;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent url("../images/searchglass.png") no-repeat 13px center;
}
input[type="text"]::placeholder {
  color: #bbb;
}
input[type="text"]:focus{
  border:transparent;
}
.clear-btn{
display: none;
position: absolute;
right:0; top:0;
padding: 0 8px;
font-style: normal;
font-size:1.75em;
user-select: none;
cursor: pointer;
margin-top:4px;
margin-right:2px;
z-index:1000;
background-color: white;

}
.search-box input::-ms-clear{
  display:none;
}
.search-box-wrapper {
  display:flex;
  margin-top:10px;
  padding-top:15px;
  margin-left:20px;
}
.search-box-wrapper > p {
  font-weight: bold;
  margin-left:8px;
  margin-top:13px;
  font-size:0.80em;
  letter-spacing: 1px;
}
#result {
  padding: 3px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height:50vh;
  max-width:400px;
}
li{
  padding: 10px 0;
  list-style-type: none;
  border-bottom:1px solid rgb(160, 159, 159);
  font-size:1.05em;
  padding-bottom:10px;
  margin-left:-20px;
  max-width:330px;
  border-bottom:1px solid rgb(160, 159, 159);
  margin: 0 auto;
}
.suggestion{
  font-family: 'Comfortaa', cursive;
  font-size:1.05em;
  margin: 10px auto;
}
#result li:hover {
  background: #eee;
}
/* CSS Selectors for the saved page. */

#saved-page{
  height:100%;
  max-width:410px;
  width: 0; /* 0 width - change this with JavaScript */
  position: absolute; /* Stay in place */
  top: 0;
  bottom: 0; /* Stay at the top */
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  padding-top: 20px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
  margin: 0 auto;
}
.saved-page > nav{
  width:85%;
  margin: 0 auto;
  display:flex;
  justify-content: flex-end;
}

.section-title{
  font-size:0.95em;
  margin-bottom:-25px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  width:80%;
  margin: 15px auto;
}
.widget-container{
  width:90%;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom:20px;
  padding-right:10px;
  margin-right:20px;
}
.widget{
  width:175px;
  cursor:pointer;
}
.widget-header{
  text-align: center;
  font-size:0.80em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.widget-image > img{
  width:150px;
  margin-top:-35px;
}
.widget-temp{
  text-align: center;
  font-size:0.85em;
  font-weight: bold;
  margin-top:-30px;
  margin-left:5px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}